/*reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
    background-image: url('https://storage.needpix.com/rsynced_images/background-1267303_1280.jpg');
    background-size: auto 100vh;
    font-family: 'Oswald', sans-serif;
    height: 100vh /*garante q altura do body seja sempre a mesma*/
  }
/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
  @media (min-width: 400px) {
    body {
      font-size: 14px
    }
  }

  /*tb chamados de breakpoint*/
  @media (min-width: 600px) {
    body {
      font-size: 18px
    }
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: #b4bbd8;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
   }
  
  .menu ul {
    display: flex;
    justify-content: space-around
  }
  
  .menu li {
    list-style: none;
  }

  .menu a{
    display: block;
    padding: 10px 20px;/*so funciona com display block*/
    transition: background-color 1.5s, color 2s; /*qual propriedade do menu quer mudar*/
  }
  

  .menu a:hover {
    background-color: rgb(245, 179, 239); 
    color: black;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-family: Times;
  }
  
  a:hover {
    text-decoration: underline;
   }

   .titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;

    animation: linear 2s animacaoTitulo forwards;
   }

   @keyframes animacaoTitulo {
    100% /*estado final animação*/ {
      transform: scale(1) translateY(0vh);
    opacity: 1;
    }
   }
  
  .site-title {
    text-align: center;
    color: black;
    font-family: 'Dancing Script', cursive;
  }

  .site-title {
    font-size: 3em;
  }
  
  .site-subtitle {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  .contato h2,
  h2 {
    margin-bottom: 1em;
    font-size: xx-large;
}
  .contato,
  .portfolio {
    background: lightblue;
    padding: 2em;
    min-height: 100vh;
  }

  .portfolio .grid {
    display: grid;
    gap: 2em;/*define espaçamento do grid(colunalinha)*/
  }

  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 200px 200px 200px;
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat (3, 260px);
      justify-content: center;
      align-content: center;
    }
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    transition: transform 1.5s;
  }

  .img-portfolio:hover {
    transform: scale(1.2);
  }
  
  .contato .icons{
    text-align: center;
  }

  .contato a {
    color: black;
    font-size: 4em;
  }

  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px plum;
  }