/*reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
    background-image: url('https://www.xmple.com/wallpaper/blue-purple-gradient-linear-1920x1080-c2-48d1cc-ba55d3-a-45-f-14.svg');
    background-size: auto 100vh;
    font-family: 'Oswald', sans-serif;
    height: 100vh /*garante q altura do body seja sempre a mesma*/
  }
/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
  @media (min-width: 400px) {
    body {
      font-size: 14px
    }
  }

  /*tb chamados de breakpoint*/
  @media (min-width: 600px) {
    body {
      font-size: 18px
    }
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: rgb(161, 203, 206);
    position: fixed;
    width: 100vw;
    top: 0;
   }
  
  .menu ul {
    display: flex;
    justify-content: space-around
  }
  
  .menu li {
    list-style: none;
  }

  .menu a{
    display: block;
    padding: 10px 20px;/*so funciona com display block*/
  }
  
  a {
    text-decoration: none;
    color: black;
    font-family: Times;
  }
  
  a:hover {
    text-decoration: underline;
   }
  
  .site-title {
    text-align: center;
    color: black;
    font-family: 'Dancing Script', cursive;
  }

  .site-title {
    font-size: 3em;
  }
  
  .site-subtitle {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  h2 {
    margin-bottom: 1em;
    font-size: xx-large;
}

  .portfolio {
    background: lightblue;
    padding: 2em;
  }

  .portfolio .grid {
    display: grid;
    gap: 2em;/*define espaçamento do grid(colunalinha)*/
  }

  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 200px 200px 200px;
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat (3, 260px);
      justify-content: center;
      align-content: center;
    }
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    height: 180px;
    width: 180px;
    border-radius: 50%;
  }
  